.git
.gitignore
*.iml
.idea
tmp
logs
dependency-reduced-pom.xml
*~
target
!target/*.jar
*.log
.settings
.classpath
.project
chart
aws-sdk-java/**
!aws-sdk-java/aws-java-sdk-s3/**
!aws-sdk-java/aws-java-sdk-bom/**
